html, body {
  height: 100%;
  width: 100%;
}

body { 
  margin: 0;
}

#book_graph {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

#member_graph {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stoke-width: 1.5px;
}
